html, body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /*background: blue;*/
    background: #d3dbe2;
}
/*
font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/

img {

    display: inline-block;
}


a {
     transition: 0.3s ease-out;
}

* {

     box-sizing: border-box;
}

/* ..................................

    GRID
    ....................................*/

.container {

    width: 1600px;
   /* width: auto;*/
    margin-left: auto;
    margin-right: auto;
    background: #d3dbe2;
}

.row {


}

.row:after {

    clear: both; /* Очистить потоки обтекания */
    content: ""; /* Указываем пустой контент */
    display: table; /* Для корректного отображения псевдо класса row:after */
}

.col-4 {

    width: 530px;
    margin-right: 0px;
    float:left;
}

.col-4:last-child {

    margin-right: 0px;
}


.col-5 {

    width: 300px;
    margin-right: 0px;
    float:left;
}
.col-5:last-child {

    margin-right: 0px;
}

.col-6 {

    width: 900px;
    margin-right: 0px;
    float:left;
}
.col-6:last-child {

    margin-right: 0px;
}



/* ..................................

    HEADER
    ....................................*/

.button-header {

    color:white;
    /*background:white;*/
    background-color: transparent;
    display: inline-block;

    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;

    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;

    margin-bottom: 35px;
    transition: 0.3s ease-out;
}

.header {

    background: #8f92b2;
    background-image: url("../img/bg/bg_front.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;

    color: #000;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.header__title {

    color: #fff;
    /*color: #0052C2;*/
    font-size: 34px;
    /* line-height: 62px; */
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: 50px;

}

.header__slogan {
    font-size: 30px;
    line-height: 42px;
     margin-bottom: 50px;

}

.header__arrow {

    font-size: 48px;
    
    /* background: red; */
    width: 60px;
    height: 50px;
    margin-left: -30px;
    color: #fff;
    position: absolute;
    background-color: transparent;
    bottom: 50px;
    left: 50%;
    transition: 0.5s ease-out;
}
.header__arrow:hover {
    font-size: 32px;
    color: #ffc800;
    text-align: center; /*выравнивание содержимого элемента по центру */
    transition: 0.5s ease-out;
}


.nubex {
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
    }



/* ..................................

    PORTFOLIO
    ....................................*/
.portfolio {
    /* background: #fff; */
    background: #d3dbe2;
    padding-top: 70px; /* Внутренний отступ сверху */
    padding-bottom: 100px; /* Внутренний отступ снизу */
}

.portfolio-item {

    margin-bottom: 20px; /* Внешний отступ снизу */
}

.title {

    font-size: 46px;    /* Размер шрифта */
    margin-bottom: 60px; /* Отступ снизу */
    font-family: 'Merriweather', serif;
    text-align: center;

}

.portfolio-item__img {

    margin-bottom: 17px;
}

.portfolio-item__img:hover {
   /* прозрачность */
    opacity: 0.5;
}

.portfolio-item__title {

    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}

/*
.portfolio-item__text {

    font-size: 16px;
    line-height: 1.5;
}
*/

.portfolio-item__title a {

    text-decoration: none; /* Уберем стандартное подчеркивание */
    color: #000; /* Черный цвет */
   /* border-bottom: 1px solid #000; /* Даём подчеркивание с помощью тонкой чёрной линии */
    border-bottom: 1px solid #FFF; /* Даём подчеркивание с помощью тонкой белой линии */
}

 /* Поведение данной ссылки при наведении курсора (с помощью псевдокласса - hover ) */
.portfolio-item__title a:hover {

    color: #0052C2;
    border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-item__text p {

    margin-top: 0px;
    margin-bottom: 15px;
}

/* ..................................

    PORTFOLIO SINGLE PAGE
    ....................................*/
.portfolio-single-page {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

}

.portfolio-single-page img {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
    max-width: 100%;
    height: auto;

   display: block;
}


.button-back {

    font-weight: 700;
    text-decoration: none;
    color: #0052C2;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    display: inline-block;

    border-width: 2px;
    border-color: #0052C2;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 13px;

    transition: 0.2s ease-out;
}

.button-back:hover {

    color: #FFF;
    background-color: #0052C2;

}

.scroll {

    font-size: 42px;

    margin-bottom: 13px;
    position: center;
    transition: 0.5s ease-out;
}
.scroll:hover {
    font-size: 32px;
    color: #fcc500;
     /*color: #FFC800;*/
    text-align: center; /*выравнивание содержимого элемента по центру */
    transition: 0.5s ease-out;
}





/* ..................................

    FOOTER
    ....................................*/
.footer {
    background-color: #061634;
    color: #6479a2;
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 15px;
}

p.footer__name {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

p.footer__social {

    color: #FFF;

}

p.footer__social-icons {

    color: #FFF;
    font-size: 34px;

}

p.footer__social-icons a {

    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
   /* transition: 0.2s ease-out; */s

}

p.footer__social-icons a:last-child {

    margin-right: 0px;
}

p.footer__social-icons a:hover {

    color: #FFC800;
    font-size: 30px;
}

.button {

    font-weight: 700;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    display: inline-block;

    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;

    margin-bottom: 13px;

    transition: 0.2s ease-out;
}



.button:hover {

    color: #061634;
    background-color: #FFF;

}



/* ..................................

    MEDIA
    ....................................*/
/* При ширене экрана в 1160px и менее - будет выполнен медиа запрос */
@media (max-width: 1160px) {

    .container {
        width: 100%;
    }

    .col-4 {
        width: 100%;
        /* реальная ширина = width: 100%; + border = 0 + padding = 15px + 15px = */

        box-sizing: border-box;

        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .header__title {

        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
    }

    .header_slogan {

        font-size: 22px;
        line-height: 38px;
    }

    .portfolio {

        padding-top: 40px;
        padding-bottom: 50px;
    }

    .title {

        font-size: 36px;
        text-align: center;
    }

    .footer {

        padding-top: 70px;
        padding-bottom: 60px;
    }
}

/* прокрутка по клику */

div.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #fff; /* цвет текста */
    background-color: #2d7788; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 20px; /* расстояние от нижнего края */
    padding: 4px 8px; /* отступы до содержимого блока */
    font-size: 14px; /* размер шрифта (иконки) */
    border-top-left-radius: 6px; /* скругление верхнего левого угла */
    border-top-right-radius: 6px; /* скругление верхнего правого угла */
    border-bottom-left-radius: 6px; /* скругление нижнего левого угла */
    border-bottom-right-radius: 6px; /* скругление нижнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
  }
  div.scrollup:hover {
    background-color: #000; /* цвет заднего фона при наведении */
  }

  div.scrolldown {
    font-size: 48px;
    
    /* background: red; */
    width: 60px;
    height: 50px;
    margin-left: -30px;
    color: #fff;
    position: absolute;
    background-color: transparent;
    bottom: 50px;
    left: 50%;
    transition: 0.5s ease-out;
  }
  div.scrolldown:hover {
    font-size: 32px;
    color: #ffc800;
    text-align: center; /*выравнивание содержимого элемента по центру */
    transition: 0.5s ease-out;
  }




/* картинка на странице */
.minimized {
    width: 200px;
    cursor: pointer;
    border: 1px solid #FFF;
  }
  
  .minimized:hover {
    border: 2px solid #03fd00;

  }
  
  /* увеличенная картинка */
  #magnify {
    display: none;
  
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
  }
  
  #magnify img {
    width: 100%;
  }
  
  /* затемняющий фон */
  #overlay {
    display: none;
  
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
  }
  
  /* кнопка закрытия */
  #close-popup {
    width: 30px;
    height: 30px;
  
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  #close-popup i {
    width: 30px;
    height: 30px;
    /*background: url(https://codernote.ru/files/cross.png) no-repeat center center; */
    background-size: 16px 16px;
    display: block;
  }
  
  @keyframes rota {
   25% { transform: rotate(360deg); }
  }
  
  #close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
