@media (max-width: 1080px) {
    .header-row {
        column-gap: 60px;
    }

    .header-img {
        width: 300px;
        border-bottom-right-radius: 80px;
    }

    .header-title {
        font-size: 52px;
    }

    .header-text {
        font-size: 22px;
    }

    .portfolio-title {
        font-size: 42px;
    }

    .contacts-title {
        font-size: 42px;
    }

    .inner-page-title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom-right-radius: 60px;
    }

    .header-video {
        border-bottom-right-radius: 60px;
    }

    .header-row {
        column-gap: 40px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .header-img {
        max-width: 50%;
        width: auto;
        border-bottom-right-radius: 60px;
    }

    .header-title {
        font-size: 32px;
    }

    .header-text {
        font-size: 18px;
    }

    /* BTNS */
    .btn,
    .btn-outline {
        height: 42px;
        padding: 12px 15px 0;
    }

    /* Portfolio */
    .portfolio {
        padding: 40px 0;
    }

    .portfolio-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .projects {
        row-gap: 30px;
    }

    .project-img {
        /* отступ вниз от картинки */
        margin-bottom: 20px;
        /* радиус закругления углов картинки */
        border-radius: 14px;
    }

    .project-title {
        font-size: 16px;
    }

    /* Contacts */

    .contacts {
        /* отступы сверху-снизу - 80px, слеав-справа - 0px */
        padding: 40px 0;
        /* скругление верхнего левого угла */
        border-top-left-radius: 60px;
    }

    .contacts-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .messangers {
        /* задаёт отступ (gutter) между рядами - 30px */
        gap: 20px;
    }

    .messanger {
        padding: 32px 20px;
        border-radius: 12px;
        font-size: 16px;
    }

    /* Footer */
    .footer-inner {
        font-size: 12px;
    }

    /* INNER PAGE */
    .inner-page {
        padding: 40px 0 20px;
    }

    .inner-page-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .inner-page-details {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .inner-page-text {
        row-gap: 20px;
    }

    .inner-page-img {
        margin-bottom: 20px;
    }

    .inner-page-backlink {
        min-width: 290px;
        padding: 20px;
    }


}